desktop-pos/build_dist/
*.sql
desktop-pos/node_modules/
ecommerce-frontend/node_modules/
frontend/node_modules/
backend/vendor/

# SECURITY: Pastikan semua file .env tidak ikut ke push!
.env
.env.*
**/.env
**/.env.*

# Ignore meilisearch and heavy data
backend/meilisearch.exe
backend/data.ms/

# Ignore python cache and env
**/__pycache__/
**/*.pyc
venv/
env/

# Temporary Development and Test Files
redis-win/
start_redis.bat
backend/public/test_echo.html
backend/test_broadcast.php
backend/test_broadcast_stock.php
backend/test_redis.php
frontend/test_ws.cjs
